<?php
$name = $this->getStoreName();
$email = $this->getStoreEmail();
$phone = $this->getStorePhone();
$address = $this->getStoreAddress();
$zip = $this->getStorePostcode();
$city = $this->getStoreCity();
$country = $this->getStoreCountry();
?>
<h4><?= $block->escapeHtml(__('Company')) ?></h4>
<img src="https://www.swissclinic.se/bilder/swiss-clinic/logo.svg" alt="Swiss Clinic Logo" height="32">
<address>
    <p>Swiss Clinic</p>
    <p><?= $address ?></p>
    <p><?= $zip ?> <?= $city ?>, <?= $country ?></p>
</address>
<ul>
    <li>
        <a href="mailto:<?= $email ?>">
            <?= $email ?>
        </a>
    </li>
    <li>
        <a href="tel:<?= $phone ?>">
            <?= $phone ?>
        </a>
    </li>
</ul>