<?php
$baseUrl = 'https://d2q6lw9s5hq9jk.cloudfront.net/';
$baseFolder = 'payment/';
$ext = '.png';
$cards = [ 'mastercard', 'visa', 'amex', 'diners', 'elo', 'hipercard', 'hiper' ];
?>
<div class="d-none d-sm-block mb-xs-3 mr-sm-5"><?= $block->escapeHtml(__('Payment')) ?></div>
<?php foreach ($cards as $card):
    $url = $baseUrl . $baseFolder . $card . $ext;
?>      
<div class="mr-2 mb-2">
    <img alt="<?= $card ?>" src="<?= $url ?>">
</div>
<?php endforeach;?>