<h4>Anmäl dig till vårt nyhetsbrev</h4>
<form action="/shop" method="post" name="footer" class="swiss-newsletter">
    <div class="form-group">
        <div class="input-group">
            <input id="newsletter-email" class="form-control" name="Epost" type="email" placeholder="email@address.com" required="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Registrera</button>
            </div>
        </div>
    </div>
    <input name="Land" type="hidden" value="Sverige">
    <input name="funk" type="hidden" value="Epostlistan">
    <input name="source" type="hidden" value="swiss-newsletter-footer">
</form>
<p>Anmäl dig till vårt nyhetsbrev och få den senaste informationen först!</p>