<?php
    class FooterCountry {
        public $name;
        public $code;
        public $url;
        public $active;

        public function  __construct($name, $code, $url) {
            $this->Name = $name;
            $this->Code = $code;
            $this->Url = $url;
        }
    }

    $countries[] = new FooterCountry('Sverige', 'se', 'https://www.swissclinic.se/');
    $countries[] = new FooterCountry('Norge', 'no', 'https://www.swissclinic.no/');
    $countries[] = new FooterCountry('Suomi', 'fi', 'https://www.swissclinic.fi/');
    $countries[] = new FooterCountry('Danmark', 'gb', 'https://www.swissclinic.co.uk/');
    $countries[] = new FooterCountry('United Kingdom', 'dk', 'https://www.swissclinic.dk/');
    $countries[] = new FooterCountry('España', 'es', 'https://www.swissclinic.es/');
    $countries[] = new FooterCountry('Nederland', 'nl', 'https://www.swissclinic.nl/');
    $countries[] = new FooterCountry('Belgie', 'be', 'https://www.swissclinic.be/');
    $countries[] = new FooterCountry('Deutschland', 'de', 'https://www.swissclinic.com/de/');
    $countries[] = new FooterCountry('Brazil', 'br', 'https://www.swissclinic.com/br/');
?>
<div class="dropdown-menu" data-target="dropdown">
    <?php foreach ($countries as $country): ?>
        <?php if ($country->Code != $this->getStoreCode()): ?>
            <a href="<?= $country->Url; ?>" class="dropdown-item">
                <div class="flag-icon flag-icon-<?= $country->Code; ?> mr-2"></div> <?= $country->Name; ?>
            </a>
        <?php endif; ?>
    <?php endforeach; ?>
</div>